.result {
    display: flex;
    margin-top: 1rem;
    max-width: 1000px;
    width: 80%;
}

.business-image {
    width: 210px;
    height: 210px;
    border-radius: 4px;
    margin-right: 1rem;
}

.btn-sm {
    height: 20px;
    width: 65px;
    text-align: center;
    line-height: 10px;
    
}

.business-info{
    min-width: 400px;
    font-size: .85rem;
    margin-bottom: 1px;
    width: 210px;
    height: 210px;
    background-color: #D9F28C;
    border-radius: 4px 0px 0px 4px;
    padding-left: 10px;
}

.contact-info p {
    font-size: .85rem;
    margin-bottom: 1px;
    width: 210px;
    height: 210px;
    background-color: #D9F28C;
    border-radius: 0px 4px 4px 0px;
    padding-right: 10px;

}

h5 {
    text-align: center;
    
}