.icon {
    width: 250px;
    height: 200px;
    margin-left: 3rem;
    margin-top: 50px;
    margin-bottom: 25px
}
.search-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.landing {
    display: flex;
    justify-content: center;
}

body > #root > div {
    height: 100vh;
  }


#suggestions {
    margin-bottom: 10px;
    background-color: #3e75cc;
    padding: 5px;
    border-radius: 50px 50px;
    color: #FFA3E8;

}