body, html {
    height: 100%;
    background: url(../images/foodcourt.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
body > #root > div {
    height: 100vh;
  }

.foodcourt-background {
    height: 100%;
    background: url(../images/foodcourt.jpeg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}