/* body, html {
    height: auto;
    width: 100%;
    background: url(../images/main.jpeg);
    background-repeat: no-repeat;
    background-size: auto;  
    
} */

#logo {
    position: sticky;
    top: 50%;
    left: 25%;
    width: auto;
    height: auto;
    margin-top: 100px;
}


/* .home-background {
    height: 100%;
    background: url(../images/main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

} */